.message-card {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .875rem;
  text-align: center;
  padding: 40px;
  color: #000000;
}
.messageTopImage {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message-image {
  position: relative;
  width: 120px;
  height: 100px;
}
.message-image > image {
  width: 81px;
  height: 81px;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
}
.message-image .message-text-hasNumber {
  width: 30px;
  height: 30px;
}
.message-image > text {
  position: absolute;
  top: 0;
  right: 0;
  color: #ffffff;
  background-color: #ff0000;
  border-radius: 50%;
  font-size: .75rem;
  width: 16px;
  height: 16px;
  border: 4px #ffffff solid;
}
.message-talk {
  display: flex;
  margin-bottom: 30px;
}
.message-talk > view:first-child {
  flex: 0 0 120px;
}
.message-talk > view:last-child {
  flex: auto;
  display: flex;
}
.message-talk > view:first-child > image {
  width: 90px;
  height: 90px;
  border-radius: 12px;
}
.talk-content {
  flex: auto;
}
.talk-content > view:first-child {
  color: #000000;
  font-weight: bold;
}
.talk-content > view:nth-child(2) {
  font-size: .875rem;
  margin-bottom: 10px;
}
.talk-content > view:last-child {
  font-size: .75rem;
  margin-bottom: 8px;
}
.talk-content + view {
  flex: 0 0 160px;
}
.talk-content + view > image {
  width: 120px;
  height: 120px;
  float: right;
}