.my-input {
  width: 100%;
  background-color: #ffffff;
  color: #dce3e5;
  border-radius: 50px;
  height: 2.6rem;
  font-size: 1rem;
  line-height: 3.8;
}
.input-shadow {
  box-shadow: 0px 1px 6px 1px #eeeeee;
}
.home-input-top {
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  top: 0px;
  z-index: 1000;
  padding: 0px 26px;
  text-align: center;
}
.block-100 {
  height: 100px;
  width: 100%;
}
.container {
  height: auto;
}
.top-text-bottom-short {
  width: 100%;
  height: 60px;
  position: fixed;
  background-color: #ffe60f;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  z-index: 101;
}
.card-level {
  box-sizing: border-box;
  padding: 0px 26px;
  margin-bottom: 14px;
}
.card-flex-col {
  display: flex;
  flex-direction: column;
}
.card-flex-row {
  display: flex;
  justify-content: space-around;
}
.first-block {
  box-sizing: border-box;
  padding: 8px;
  font-size: .875rem;
  text-align: center;
}
.small-card-row {
  display: flex;
  box-sizing: border-box;
  padding: 8px;
  font-size: .875rem;
  text-align: center;
  color: #999;
}
.auto-flex-width {
  flex: auto;
}
.divid-row {
  margin: 4px 0px;
  height: 1px;
  background: #dce3e5;
}
.divid-col {
  margin: 0px 18px;
  width: 1px;
  background: #dce3e5;
}
.home-image {
  width: 60px;
  height: 60px;
}
.home-second-image {
  width: 100%;
  height: 120px;
}
.home-bottom-image {
  width: 40px;
  height: 40px;
  margin: 0px 10px;
}
.second-font {
  font-size: .75rem;
  color: #999;
}
.second-card-magin-bottom {
  margin: 20px 0px;
}
.width-half-card {
  box-sizing: border-box;
  font-size: .875rem;
  margin-bottom: 14px;
  background-color: #ffffff;
  border-radius: 20px;
  overflow: hidden;
}
.width-half-card > view {
  display: inline-block;
  width: 100%;
}
.width-half-card > view > view {
  box-sizing: border-box;
  padding: 4px 12px;
}
.width-half-image {
  width: 100%;
  height: 100%;
}
.card-flex-half {
  display: flex;
}
.card-flex-left {
  flex: 0 0 50%;
  box-sizing: border-box;
  padding-right: 8px;
}
.card-flex-right {
  flex: 0 0 50%;
  box-sizing: border-box;
  padding-left: 8px;
}
.half-card-price > text:first-child {
  color: #ff0000;
  font-weight: bold;
  font-size: 1rem;
}
.half-card-price > text:last-child {
  font-size: .75rem;
  float: right;
}
.half-card-name {
  display: flex;
}
.half-card-name > view {
  flex: 0 0 50%;
}
.half-card-name > view:first-child {
  display: flex;
  align-items: center;
}
.half-card-name > view:first-child > text {
  height: 100%;
  text-align: center;
}
.half-card-name > view:last-child {
  text-align: right;
  font-size: .75rem;
  color: #3a89e4;
}
.half-card-name image {
  width: 40px;
  height: 40px;
}