.top-yellow-background {
  width: 100%;
  height: 300px;
  position: absolute;
  background-color: #ffe60f;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
  z-index: -1;
}
.userInfo {
  display: flex;
  align-items: center;
}
.card-margin-bottom {
  margin-bottom: 18px;
}
.userInfo-image {
  width: 100px;
  height: 100px;
  border-radius: 12px;
}
.userInfo-center > view {
  padding: 6px;
}
.userInfo-center {
  flex: auto;
  font-size: 0.875rem;
}
.arrow-right {
  width: 10px;
  height: 10px;
  border-top: 4px solid #454d64;
  border-right: 4px solid #454d64;
  transform: rotate(45deg);
  margin-left: 6px;
}
.userInfo-center > view:first-child {
  font-weight: bold;
  color: #000000;
  font-size: 1rem;
}
.userInfo > view:first-child {
  flex: 0 0 100px;
  padding-right: 20px;
}
.userInfo > view:last-child {
  flex: 0 0 120px;
  font-size: 0.75rem;
  border-radius: 25rem;
  padding: 0px 12px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
}
.myLevel {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 0.75rem;
}
.myLevel > view > view:first-child {
  font-weight: bold;
  color: #000000;
}
.myCard {
  font-size: 0.875rem;
  margin-bottom: 18px;
}
.myCard > view:first-child {
  font-weight: bold;
  color: #000000;
}
.myPic {
  display: flex;
  flex-wrap: wrap;
  color: #999999;
  font-size: .75rem;
  text-align: center;
  margin: 24px 0px;
}
.myPic .flex-width-3 {
  flex: 0 0 33.3%;
}
.myPic .flex-width-4 {
  flex: 0 0 25%;
}
.myPic-image {
  width: 88px;
  height: 88px;
}
.special-bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 19px;
  height: 70px;
  background-color: rgba(122, 197, 205, 0.1);
  color: #3681d6;
  font-size: .75rem;
  padding: 6px 12px;
  margin-bottom: 12px;
}
.special-bottom image {
  width: 60px;
  height: 60px;
  margin-right: 8px;
}
.special-bottom-middle {
  flex: auto;
}
.special-bottom > view:last-child {
  flex: 0 0 100px;
  border: 1px solid #3681d6;
  border-radius: 25px;
  text-align: center;
  padding: 4px;
}